<!-- Nav Bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-5">
      <a class="navbar-brand" href="{% url 'index' %}">Company</a>
      <button 
      class="navbar-toggler" 
      type="button" 
      data-bs-toggle="collapse" 
      data-bs-target="#navbarSupportedContent" 
      aria-controls="navbarSupportedContent" 
      aria-expanded="false" 
      aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-nav">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'index' %}">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'sample_profile:features' %}">Features</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'sample_profile:home' %}">Example</a>
                </li>
            
                <li class="nav-item dropdown">
                  <a 
                  class="nav-link dropdown-toggle" 
                  href="#" id="navbarDropdown" 
                  role="button" 
                  data-bs-toggle="dropdown" 
                  aria-expanded="false">
                    Account Profile
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="{% url 'sample_profile:create_profile' %}">Edit Profile</a></li>
                    <li><a class="dropdown-item" href="{% url 'sample_profile:profile' %}">Current Profile</a></li>
                  </ul>
                </li>  

                <li class="nav-item dropdown">
                    <a 
                    class="nav-link dropdown-toggle" 
                    href="#" id="navbarDropdown" 
                    role="button" 
                    data-bs-toggle="dropdown" 
                    aria-expanded="false">
                      Sign In
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="{% url 'sample_profile:login' %}">Login</a></li>
                      <li><a class="dropdown-item" href="{% url 'sample_profile:registration' %}">Register</a></li>
                    </ul>
                </li>
            </ul>  
            <span class="navbar-text">Hello, {{ user.username }}</span>
            <span>
              <a class="nav-link" href="{% url 'sample_profile:logout' %}">Logout</a> 
            </span> 
        </div>
      </div>
    </div>
</nav>


